<section class="styleguide__feature-spotlight">
  <div class="featured-spotlight" style="background-color: #455A64;">
    <div class="container-medium">
      <div class="featured-spotlight__container">
        <div class="container-small">
          <h3 class="xlarge">How to Play</h3>
          <p>
            Pick a winner for each category. Each nominee has a point value derived from
            the liklihood of a win. Go safe, or go big! Double down on a pick to earn
            <strong>twice</strong>
            as many points on a win, or
            <strong>lose</strong>
            as many points on a loss.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
