<div class="pick points-P">
  <strong>Double points</strong>
  <em style="float: right;">Correct gilded pick</em>
</div>
<div class="pick points-5">
  <strong>5 points &nbsp;&nbsp;&nbsp;&nbsp;</strong>
  <em style="float: right;">Unlikely to win</em>
</div>
<div class="pick points-3">3 points</div>
<div class="pick points-1">
  <strong>1 point &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
  <em style="float: right;">Favored to win</em>
</div>
<div class="pick points-N">
  <strong>Negative points</strong>
  <em style="float: right;">Incorrect gilded pick</em>
</div>
