<h2>How to Pay</h2>
<ol>
  <li>Make sure you are logged-in to your PayPal account in a different tab</li>
  <li>
    Click:
    <a target="_blank" href="https://www.paypal.com/us/sendmoney?amount=10.00&email=lrbrack@gmail.com&payment_type=FriendsFamily">
      <span style="background-color: #468966; color: #FFF; padding: 5px 10px 5px 10px;">
        Pay with PayPal
      </span>
    </a>
  </li>
  <li>Choose an amount:
    <ul>
      <li><strong>$20</strong> &ensp;<em>I want all the money</em></li>
      <li><strong>$10</strong> &ensp;<em>I would like some of the money, please</em></li>
      <li><strong>$0</strong>  &emsp;<em>I know this is a scam</em></li>
    </ul>
  </li>
  <li>
    Choose <em>I'm sending money to family or friends</em>
  </li>
  <li>Click <em>Continue</em></li>
</ol>
